h1 {
  color: red;
}

h2 {
  background-color: green;
  color: white;
}
span {
  color: red;
}

.gr {
  text-align: center;
  padding: 40px;
  

}

li {
  border: 1px solid black;
  
}

.block {
  width: 90px;
  height: 115px;
  background-color: blue;
  color: white;
}

.wonderfulForms {
  margin: 35px;
}

img {
  width: 250px;
}
